body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999999;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: hsla(0, 0%, 86.7%, 0);
  color: #000;
  mix-blend-mode: normal;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.nav-menu {
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1% 1% 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-logo-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: 10%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.underline {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 1px;
  background-color: #fff;
}

.link-block {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  text-decoration: none;
}

.link-block.less-margin {
  margin-bottom: 0.25em;
}

.logo {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 10vw;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

.logo.nav-top {
  left: 80px;
}

.logo.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 1vw;
  font-weight: 700;
}

.logo.nav.open {
  display: block;
  font-family: Helvetica, sans-serif;
}

.logo.nav.light {
  position: absolute;
  bottom: -100%;
}

.logo.nav.close {
  position: absolute;
  bottom: -100%;
}

.logo.nav.dark {
  position: relative;
  opacity: 1;
  font-family: Helvetica, sans-serif;
  mix-blend-mode: difference;
}

.menu-circle {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
  border-radius: 9999px;
  background-color: #000;
}

.full-menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  mix-blend-mode: exclusion;
}

.menu-button-text-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link {
  color: #fff;
  font-size: 3vw;
  line-height: 1;
}

.link.static {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.link.static.current {
  opacity: 0.8;
  font-style: italic;
}

.link.smaller {
  font-size: 1.5vw;
}

.link.absolute {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -100%;
  font-style: italic;
}

.menu-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10% 3.5% 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-trigger {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-wrapper.work-left {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-wrapper.work-right {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image {
  width: 50%;
  max-width: none;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-box.work-left {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-box.work-right {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.foto {
  width: 50%;
  max-width: none;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.image-box-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-box-copy.work-left {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-box-copy.work-right {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-box-copy.aristera {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-box-copy.deksia {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.body {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body.noscroll {
  display: block;
  overflow: hidden;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.dulies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150vh;
  padding-top: 0%;
  padding-right: 1%;
  padding-left: 1%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slider {
  width: 90%;
  height: auto;
}

.image-2 {
  display: block;
  overflow: visible;
  width: 100%;
  max-width: none;
  cursor: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide {
  height: auto;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.icon {
  position: absolute;
  left: auto;
  top: auto;
  right: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  font-size: 30px;
}

.icon._2 {
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.icon._2.hide {
  display: none;
}

.icon.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.icon._3 {
  display: none;
}

.icon._4 {
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.icon-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.icon-2.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.slide-nav {
  display: none;
}

.half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36%;
  height: 100%;
  padding-top: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.half._20 {
  margin-top: 50%;
}

.half.flex {
  padding-top: 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.half.nopad {
  padding-top: 0%;
}

.heading {
  width: 90%;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  color: #000;
  font-size: 1vw;
  line-height: 1.1;
  font-weight: 400;
  text-align: justify;
}

.heading.bold {
  margin-top: 3%;
  font-weight: 700;
}

.heading.bld {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 700;
}

.right-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: e-resize;
}

.image-3 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-4 {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-5 {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-2 {
  -o-object-fit: cover;
  object-fit: cover;
}

.left-arrow {
  cursor: w-resize;
}

.left-arrow-2 {
  cursor: w-resize;
}

.left-arrow-3 {
  cursor: w-resize;
}

.left-arrow-4 {
  cursor: w-resize;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  padding-left: 1%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-copy {
  width: 100%;
  height: 35%;
}

.mask-copy {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.slide-copy {
  width: 100%;
  height: 100%;
}

.slide-2-copy {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-3-copy {
  width: 100%;
  height: 100%;
}

.heading-copy {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  color: #000;
  font-size: 1vw;
  line-height: 1.1;
  font-weight: 400;
  text-align: justify;
}

.heading-copy.bold {
  margin-top: 3%;
  font-weight: 700;
}

.image-2-copy {
  display: inline-block;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: none;
  cursor: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-4-copy {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-5-copy {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    padding-top: 2%;
  }

  .menu-logo-wrapper {
    display: none;
  }

  .logo.nav.open {
    font-size: 2vw;
  }

  .logo.nav.light {
    font-size: 2vw;
  }

  .logo.nav.close {
    font-size: 2vw;
  }

  .logo.nav.dark {
    font-size: 2vw;
  }

  .full-menu {
    display: none;
  }

  .link.static {
    font-size: 4vw;
  }

  .link.smaller {
    font-size: 2vw;
  }

  .link.absolute {
    font-size: 4vw;
  }

  .image-wrapper {
    width: 100%;
  }

  .image-box {
    width: 100%;
  }

  .image-box-copy {
    width: 100%;
  }

  .section {
    height: auto;
    padding-top: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slider {
    width: 100%;
  }

  .half {
    width: 100%;
  }

  .heading {
    width: 100%;
    font-size: 14px;
  }

  .slider-copy {
    width: 100%;
  }

  .heading-copy {
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 0%;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-right: 1%;
    padding-left: 1%;
  }

  .brand {
    padding-left: 0px;
  }

  .nav-menu {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .logo.nav.open {
    font-size: 4vw;
  }

  .logo.nav.light {
    font-size: 4vw;
  }

  .logo.nav.close {
    font-size: 4vw;
  }

  .logo.nav.dark {
    font-size: 4vw;
  }

  .link.static {
    font-size: 6vw;
  }

  .link.smaller {
    font-size: 4vw;
  }

  .link.absolute {
    font-size: 6vw;
  }

  .menu-content {
    padding-top: 25%;
    padding-bottom: 9%;
  }

  .section {
    padding-top: 0%;
  }

  .half {
    width: 98%;
  }

  .heading {
    font-size: 13px;
    line-height: 1.1;
  }

  .heading.bold {
    margin-top: 10%;
  }

  .div-block {
    width: 98%;
    height: 8vh;
    margin-left: 2%;
  }

  .heading-copy {
    font-size: 13px;
    line-height: 1.1;
  }

  .heading-copy.bold {
    margin-top: 10%;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}